.exclusive {
  @include to-lg {
    padding-top: 0;
    padding-bottom: 20px;
  }

  &__container {
    display: grid;
    grid-template-columns: 5fr 7fr;
    column-gap: 24px;
    //@include row-flex;
    @include padding-top(80, 30);
    @include padding-bottom(91);
    min-height: 638px;
    @include to-xl {
      //@include size(12);
      grid-template-columns: repeat(1, 12fr);
    }
  }

  &__info-container {
    //@include col();
    //@include size(5);
    @include to-xl {
      //@include size(12);
    }
    @include to-xl {
      padding-right: 0;
      margin-bottom: 30px;
    }
  }

  &__info {
    @include to-xl {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__gallery {
  }

  &__gallery-container {
    @include column-gap(22);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include to-xl {
      max-width: 650px;
      margin: 0 auto;
    }

    &:before {
      position: absolute;
      content: "";
      width: 71%;
      height: 80%;
      margin-top: -5%;
      border: 2px solid $brun-color;
    }
  }

  &__img {
    max-width: 323px;
    max-height: 486px;
    width: calc(50% - 11px);
    position: relative;
    object-fit: cover;

    &:first-child {
      margin-top: 22.6%;
    }

    &:last-child {
      margin-bottom: auto;
    }
  }
}

.info {
  @include padding-bottom(19);
  @include padding-top(20);

  &:first-child {
    padding-top: 0;
  }

  &__title {
    @include font-size(24);
    @include line-height(32);
    @include margin-bottom(10);
    color: $black-color;
    font-weight: 600;
  }

  &__desc-container {
    display: flex;
    @include to-sm {
      flex-direction: column;
      align-items: center;
    }
  }

  &__desc {
    @include font-size(18, 12);
    @include line-height(32);
    display: flex;
    align-items: center;
    color: $black-color;
    font-weight: 400;
    @include to-sm {
      margin-bottom: 0;
    }
  }

  &__point-container {
    display: flex;
    align-items: center;
    @include to-sm {
      margin: 5px 0;
    }
  }

  &__point {
    @include margin-left(12);
    @include widthHeight(5, 5);
    background-color: $brun-color;
    border-radius: 50%;

    &:last-child {
      @include margin-right(12);
    }
  }

  &__line {
    transform: translateY(19px);
    height: 1px;
    background-color: #e7e7e7;
    width: 100%;
    @include to-md {
      transform: translateY(12px);
    }
  }
}
