.reviews {
  background: #3A4574;

  &__swiper {
    padding-top: 220px;
    padding-bottom: 220px;
    position: relative;
    @include to-lg {
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }

  &__text {
    margin: 0 auto;
    text-align: center;
    max-width: 785px;
    @include to-lg {
      max-width: 95%;
    }
  }

  &__icon {
    @include margin-bottom(34);
    @include widthHeight(83, 58);
    display: block;
    margin: 0 auto;
  }

  &__title {
    @include margin-bottom(20);
    @include font-size(36);
    @include line-height(40);
    color: $brun-color;
    font-weight: 600;
    white-space: nowrap;
    @include to-lg {
      white-space: normal;
    }

  }

  &__desc {
    @include font-size(16);
    @include line-height(40);
    @include margin-bottom(30);
    color: $white-color;
    font-weight: 400;
  }

  &__author {
    @include font-size(24);
    @include line-height(40);
    color: $brun-color;
    text-align: center;
    letter-spacing: 6.2px;
  }
}

.swiper__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}


.reviews__button-prev, .reviews__button-next {
  margin: -27px 5px 0 5px;
  color: $white-color;
  transition: color 0.5s ease;
  @include to-lg {
    top: calc(100% - 25px);
  }

  &:after {
    @include lg {
      font-size: 49px;

    }
    @include to-lg {
      font-size: 20px;
    }
  }

  &:hover {
    color: $brun-color;
  }
}

.reviews__button-prev {
  @include to-lg {
    left: calc(50% - 40px);
  }
}

.reviews__button-next {
  @include to-lg {
    right: calc(50% - 40px);
  }
}

